<app-table [data]="employeeList">

  <ng-template appInjector="caption">Staff</ng-template>

  <ng-template appInjector="header">
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Age</th>
    <th>foo()</th>
    <th>NG Directive</th>
  </ng-template>

  <ng-template appInjector="body" let-employee>
    <td>{{employee.id}}</td>
    <td>
      <a href="#">{{employee.name}}</a>
    </td>
    <td>{{employee.surname}}</td>
    <td>{{employee.age}}</td>
    <td>
      <button type="button" (click)="foo(employee)">{{employee.name}}</button>
    </td>
    <td>
      <label>
        Office surface
        <input type="text" [value]="employee.officeSurface" appSuffix="m²">
      </label>
    </td>
  </ng-template>

  <ng-template appInjector="footer">
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Age</th>
    <th>foo()</th>
    <th>Directive test</th>
  </ng-template>

</app-table>