<table>

  <caption #caption>
    <ng-container *ngTemplateOutlet="sectionTemplateRef['caption']"></ng-container>
  </caption>

  <thead>
    <tr #header>
      <ng-container *ngTemplateOutlet="sectionTemplateRef['header']; context: {$implicit: data}"></ng-container>
    </tr>
  </thead>

  <tbody #body>
    <tr *ngFor="let datum of data">
      <ng-container *ngTemplateOutlet="sectionTemplateRef['body']; context: {$implicit: datum}"></ng-container>
    </tr>
  </tbody>

  <tfoot *ngIf="sectionTemplateRef['caption']">
    <tr #footer>
      <ng-container *ngTemplateOutlet="sectionTemplateRef['footer']"></ng-container>
    </tr>
  </tfoot>

</table>
