<table>

  <caption #caption>
    <ng-container *ngTemplateOutlet="captionTemplateRef"></ng-container>
  </caption>

  <thead>
    <tr #header>
      <ng-container *ngTemplateOutlet="headerTemplateRef; context: {$implicit: data}"></ng-container>
    </tr>
  </thead>

  <tbody #body>
    <tr *ngFor="let datum of data">
      <ng-container *ngTemplateOutlet="bodyTemplateRef; context: {$implicit: datum}"></ng-container>
    </tr>
  </tbody>

  <tfoot *ngIf="footerTemplateRef">
    <tr #footer>
      <ng-container *ngTemplateOutlet="footerTemplateRef"></ng-container>
    </tr>
  </tfoot>

</table>
