<table>

  <thead>
    <tr>
      <th>
        <ng-content select="app-table-column[path=id]" ></ng-content>
      </th>
      <th>
        <ng-content select="app-table-column[path=name]" ></ng-content>
      </th>
      <th>
        <ng-content select="app-table-column[path=surname]" ></ng-content>
      </th>
      <th>
        <ng-content select="app-table-column[path=age]" ></ng-content>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let datum of data">
      <td *ngFor="let column of columnList">
        {{ extract(datum, column.path) }}
      </td>
    </tr>
  </tbody>

</table>
